Repository UncertainMeow/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: zsh-syntax-check, tmux-config-check

zsh-syntax-check:
  name: Check zsh syntax
  entry: zsh -n
  language: system

tmux-config-check:
  name: Check tmux config syntax
  entry: bash -c 'tmux -f $1 list-sessions -F "#{session_name}" 2>/dev/null || echo "tmux config validation failed for $1"; exit 0'
  language: system
  pass_filenames: true

feat: Add 1Password SSH agent integration for macOS
  config/zsh/os/macos.zsh
Due: zsh-syntax-check

feat: Integrate environment launcher into main installation
  install.sh
Due: none

feat: Add homelab-focused and learning container environments
  environment-launcher/containers.yaml
Due: none

docs: Add comprehensive container guides and Claude handoff instructions
  CLAUDE.md
  environment-launcher/CONTAINER_GUIDES.md
Due: none

pre-fest
  config/zsh/aliases.zsh
  config/zsh/environment.zsh
  config/zsh/functions.zsh
Due: zsh-syntax-check

Fix configuration errors and add work-safe setup with hotkey integrations
  .zshrc
  FIXES.md
  HOTKEYS-REVISED.md
  INSTALL-COMPARISON.md
  README.md
  WORK-COMPUTER-SECURITY.md
  WORK-SETUP-SUMMARY.md
  alacritty_config.toml
  config/zsh/aliases.zsh
  config/zsh/functions.zsh
  config/zsh/parallels-integration.zsh
  environment-launcher/Dev-Environment-Launcher.kmmacros
  environment-launcher/DevLauncher-Simple.kmmacros
  environment-launcher/HOTKEY-TOOLS-COMPARISON.md
  environment-launcher/QUICK-DECISION.md
  environment-launcher/TEST-HOTKEY.kmmacros
  environment-launcher/alfred-setup.md
  environment-launcher/containers.yaml
  environment-launcher/dev-launcher
  environment-launcher/hammerspoon-work-safe.lua
  environment-launcher/keyboard-maestro-setup.md
  install-work.sh
  scripts/fix-hotkey-NOW.sh
  scripts/fix-keyboard-maestro.sh
  scripts/setup-hotkeys.sh
  scripts/validate-ghostty-themes.sh
  scripts/validate-zsh-config.sh
Due: zsh-syntax-check

feat: Major architecture improvements and UX enhancements
  .zshrc
  ADDITIONAL-IMPROVEMENTS.md
  IMPROVEMENTS-SUMMARY.md
  README.md
  config/zsh/keybindings.zsh
  config/zsh/lib/utils.zsh
  docs/KEYBINDINGS.md
  docs/SCRIPTS-VS-FUNCTIONS.md
  environment-launcher/dev-launcher
Due: zsh-syntax-check

fix: Restore zoxide/cd integration
  .zshrc
  config/zsh/environment.zsh
Due: zsh-syntax-check

fix: Remove alias/function conflicts causing shell errors
  .zprofile
  .zshrc
  alacritty_config.toml
  config/zsh/aliases.zsh
Due: zsh-syntax-check

fix: Rename funcs alias to editfuncs to resolve conflict
  config/zsh/aliases.zsh
Due: zsh-syntax-check

fix: Remove unused argument from check_deps call
  environment-launcher/dev-launcher
Due: none

fix: Resolve OPTIONS_CACHE subshell scope issue
  environment-launcher/dev-launcher
Due: none

fix: Add Omarchy and Omakub containers, correct naming
  environment-launcher/containers.yaml
Due: none

security: Remove risky home directory volume mounts
  environment-launcher/containers.yaml
Due: none

fix: Add ARM64 support, home directory warning, and privileged flag
  environment-launcher/containers.yaml
  environment-launcher/dev-launcher
Due: none

feat: Auto-redirect from home directory to ~/dev for safety
  environment-launcher/dev-launcher
Due: none

fix: Remove yq from homelab-toolkit apt install
  environment-launcher/containers.yaml
Due: none

fix: Remove yq from homelab-toolkit container setup
  environment-launcher/containers.yaml
Due: none

refactor: Rename whale-* functions to dot-* across codebase
  config/zsh/functions.zsh
Due: zsh-syntax-check

feat: Add portable dotfiles system and Tailscale auto-provisioner
  bootstrap-portable.sh
  config/portable/aliases.zsh
  config/portable/functions.zsh
  config/portable/zshrc
  scripts/tailscale/README.md
  scripts/tailscale/cloud-init-example.yaml
  scripts/tailscale/docker-compose-example.yaml
  scripts/tailscale/provision.sh
Due: zsh-syntax-check

feat: ⚡ Pokemon-themed provisioning tools - Gotta catch 'em all!
  POKEMON-QUICK-REF.md
  scripts/dotlets
  scripts/tailscale/README.md
  scripts/tailscale/choose-you.sh
  scripts/tailscale/go-dockahu.sh
  scripts/tailscale/master-ball.sh
  scripts/tailscale/mines-now.sh
  scripts/tailscale/pokeball.sh
Due: none

docs: Add Pokemon provisioning tools to main README
  README.md
Due: none

docs: Add instructions for creating formal branch
  FORMAL-BRANCH.md
Due: none

fix: Handle running pokeball.sh as root without sudo
  scripts/tailscale/pokeball.sh
Due: none

feat: Add Khoj utilities aliases and help function
  config/portable/zshrc
Due: none

fix: Rename khoj? to khoj-help (? is a glob char in zsh)
  config/portable/zshrc
Due: none

feat: Update khoj aliases with --sync flag
  config/portable/zshrc
Due: none

refactor: Update aliases for Obsidian-based workflow
  .DS_Store
  config/portable/zshrc
Due: none

feat: Add pristine backup folder for Claude sessions
  config/portable/zshrc
Due: none

chore: Remove khoj references from export path
  config/portable/zshrc
Due: none

Dec 2025
  config/.DS_Store
  scripts/tailscale/cloud-init-my-server.yaml
  scripts/tailscale/cloud-init.yaml
  scripts/tailscale/yes.txt
Due: none

Clean up README by removing personal notes
  README.md
Due: none

refactor: Migrate to XDG-compliant directory structure and add enhanced functions
  .zshrc
  ADDITIONAL-IMPROVEMENTS.md
  ARCHITECTURE.md
  config/zsh/FUNCTIONS_GUIDE.md
  config/zsh/functions.zsh
  install-work.sh
  install.sh
  scripts/backup-config.sh
  scripts/migrate-to-xdg.sh
  scripts/restore-config.sh
  scripts/sync-configs.sh
  scripts/validate-zsh-config.sh
Due: zsh-syntax-check

Add Catppuccin theming, XDG compliance, and tooling cleanup
  .gitconfig
  .tmux.conf
  .zshrc-original
  MISE-NOTES.md
  config/bat/config
  config/lazygit/config.yml
  config/portable/zshrc
  config/zsh/aliases.zsh
  install.sh
Due: zsh-syntax-check, tmux-config-check

Fix zsh modular config install path
  install.sh
Due: none

feat: add SOPS/age secrets setup and Mac reset tooling
  MAC-RESET-CHECKLIST.md
  config/zsh/environment.zsh
  scripts/restore-sops-key.sh
Due: zsh-syntax-check

docs: add XPipe restore steps to Mac reset checklist
  MAC-RESET-CHECKLIST.md
Due: none

fix: correct all paths to use ~/_code (not ~/code)
  MAC-RESET-CHECKLIST.md
Due: none

Add wt shell init and opencode to PATH
  .zshrc
Due: none

fix: last ~/code path -> ~/_code in checklist
  MAC-RESET-CHECKLIST.md
Due: none

Path conditions:
  zsh-syntax-check: any of: \.zsh$
  tmux-config-check: any of: \.tmux\.conf$
